* {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  }
body {
    background-color: #E8ECF1;
  }
   
header {
  text-align: center;
  height: 300px;
  width: 100%;
}
nav {
  background-color: #6C737E;
  color: #ffffff;
}
main {

}
section {

}
footer {
  background-color: #6C737E;
  color: #ffffff;
  height: 200px;
  width: 100%;

}

h1 {
    color: #7393A7;
    line-height: 1.5;
}
h2 {
  color: #7393A7;
  line-height: 1.5;
}
p {

}

.navbar {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  margin: 10px 30px;
}
.navbar a {
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 30px;
}
.navbar a:hover {
  background-color: #364153;
}

#about-me {

}
#projects {

}
#contact {

}