* {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  }
   
header {
  background-color: #7FBBF4;
}
nav {
  background-color: #0D5DD0;
}
main {

}
section {

}
footer {

}

h1 {
    color: #002247;
    text-align: center;
    line-height: 1.5;
}
h2 {
  color: #002247;
  text-align: center;
  line-height: 1.5;
}
p {

}

#about-me {

}
#projects {

}
#contact {

}